

.open-sans-uniquifier {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


/* styles */
.dark{
    color: #0E0E0E;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 24px; */
}
.nav-title{
    font-weight:bold;

}
.btn{
    width: 116px;
    height: 38px;
    color:#006A50;
    border-color: #006A50;
    border-radius: 5px;
    font-weight: bold;
}
main{
    max-width: 1100px;
    margin: 0 auto;
}
/* banner section css */
.banner-title{
    font-weight: bold;
    font-size: 45px;
}
.btn-secondary{
    background-color: #006A50;
    color: #FFFFFF;
    /* width: 202px;
    height: 22px; */
    font-weight: 400;
    border-radius: 5px;
    border: none;
    padding: 18px 46px;
    align-items: center;
    font-weight: bold;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: #C6E4D6;
   border-radius: 20px;
   /* padding: 20px; */
   margin-top: 20px;
}
.banner-profile{
    width: 474px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 40px;
}
.banner-content{
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 80px;
}
/* banner section done */
/* bangladesh 2.0 start */
.title{
    margin-top: 80px;
}
.bangladesh{
    display: flex;
    margin-top: 30px;
    gap: 24px;
}
/* The Vision of Future start */
.future-title{
    margin-top: 80px;
}
.future-card{
    display: flex;
    margin-top: 32px;
    gap: 24px;
    border-radius: 10px;
}
.digital{
    background-color: #81B4FC;
    border-radius: 15px;
    padding: 32px;
}
.energy{
    background-color: #C6E4D6;
    border-radius: 15px;
    padding: 32px;
}
.modern{
    background-color: #F7EBCF;
    border-radius: 15px;
    padding: 32px;
}
.btn-digital{
    width: 122px;
    height: 41px;
    background-color: #5490F5;
    border-radius: 10px;
    color: white;
    border: none;
}
.btn-energy{
    width: 122px;
    height: 41px;
    background-color: #09A15C;
    border-radius: 10px;
    color: white;
    border: none;
}
.btn-modern{
    width: 122px;
    height: 41px;
    background-color: #FFC239;
    border-radius: 10px;
    color: white;
    border: none;
}
/* The Vision of Future done */
/* Quote Section start */
.Quote-Section{
    background-image: url(../assets/quote-bg.png) ;
    background-position-x: 24px;
    background-repeat: no-repeat;
    margin-top: 32px;
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 24px;
}

/* Your Opinion Matters section start */
.opinion-heading{
    margin-top: 80px;
}
.heading{
    border: 2px solid;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: #C6E4D6;
    margin-top: 24px;
    border-radius: 10px;
}
.opinion{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 24px;
    border-radius: 10px;
}
.btn-agree{
    width: 152px;
    padding: 5px;
    height: 44px;
    font-weight: bold;
    background-color: #C6E4D6;
    border-radius: 10px;
}

/* Recent News start */
.news{
    display:flex;
    gap: 32px;
    margin-top: 48px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 30px;
}
.Satellite{
    border-radius: 30px;
    margin-top: 22px;
}
.date-time{
    display: flex;
    gap: 12px;
}
.btn-read{
    width: 139px;
    height: 48px;
    background-color: #006A50;
    border: none;
    border-radius: 10px;
    color: white;
}
/* Recent News end */
/* Donate Today section start */
.donet-section{
    background-color: whitesmoke;
    padding: 9px;
    margin-top: 80px;
    border-radius: 10px;
}
.donet{
    text-align: center;
    margin-top: 32px;
    gap: 24px;
}
.btn-taka{
    width: 240px;
    height: 128px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-left: 27px;
    background-color: #C6E4D6;
    border-radius: 20px;
    border: none;
    margin-top: 32px;
    
}
.search{
    width: 1032px;
    height: 64px;
    text-align: center;
    margin-top: 32px;
    margin-left: 27px;
    border: none;
    font-size: 18px;
}
.donet-btn{
    margin-top: 32px;
    width: 151px;
    height: 56px;
    background-color: #006A50;
    border: none;
    color: white;
    border-radius: 15px;
    text-align: center;
}
.btn-donet{
    text-align: center;
}
/* Donate Today section end */
/* Subscribe Newsletter start */
.Subscribe-section{
    margin-top: 80px;
    text-align: center;
    gap: 24px;
    background-color: #C6E4D6;
    padding: 40px;
    border-radius: 20px;
}
.letter{
    font-weight: bold;
}
.subscribe{
    width: 600px;
    height: 55px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 15px;
}
.subscribe-btn{
    width: 150px;
    height: 56px;
    background-color: #006A50;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}
.adjust{
    display: flex;
    margin-left: 100px;
}
/* Subscribe Newsletter done */